<header id="header">
    <div class="inner">

        <!-- Logo -->
            <a href="index.html" class="logo">
                <span class="symbol"><img src="assets/Blog_logo.png" alt="image display the word Blog" /></span><span class="title">Nonye's Blog</span>
            </a>
        <!-- Nav -->
            <nav>
                <ul>
                    <li class="list"><a routerLink="login">Login</a></li>
                    <li class="list"><a routerLink="signup">Register</a></li>
                </ul>
            </nav>
            <div *ngIf="username == ''">
            <h4><a routerLink="login">Login</a> or <a routerLink="signup">Register</a> to create</h4>
            </div>
            <div *ngIf="username != ''">
                <h2 style="text-transform: capitalize;">Welcome {{ username }}, Click here to go to <a>Profile</a></h2>
            </div>

    </div>
</header>
