<header id="header">
    <div class="inner">

        <!-- Logo -->
            <a href="index.html" class="logo">
                <span class="symbol"><img src="assets/Blog_logo.png" alt="image display the word Blog" /></span><span class="title">Nonye's Blog</span>
            </a>
            <p>Login or Signup to create</p>
        <!-- Nav -->
            <nav>
                <ul>
                    <li class="list"><a routerLink="login">Login</a></li>
                    <li class="list"><a routerLink="signup">Sign up</a></li>
                </ul>
            </nav>

    </div>
</header>
