<div class="login-form">
    <form [formGroup]="loginForm" (submit)="login()">
      <h1>Login</h1>
      <div class="content">
        <div class="input-field">
          <input type="email" placeholder="Email" autocomplete="nope">
        </div>
        <div class="input-field password-field">
          <input [type]="hide ? 'password' : 'text'" placeholder="Password" autocomplete="new-password">
          <div class="passwordVisibility-icon-container">
            <button (click)="toggleVisibility()" class="visibility-btn">
                <img src="assets/visibility-hidden.svg" alt="visibility-hidden" *ngIf="hide" class="hidden-icon">
                <img src="assets/visible.svg" alt="visible" *ngIf="!hide" class="visible-icon">
            </button>
        </div>
        
        </div>
        <!-- <a href="#" class="">Forgot Your Password?</a> -->
      </div>
      <div class="action">
        <button>Register</button>
        <button>Sign in</button>
      </div>
    </form>
  </div>
