<app-header></app-header>

<div id="main">
	<div class="inner">
		<header>
			<h1>This User Interface was built to further improved my understanding of frontend web development. Visit my <a href="https://github.com/NonyeReeta">Github</a> for source code reference.</h1>
			<p>As an aspiring Fullstack developer, the UI was built using AngularJs and backend using Nodejs, the Expressjs framework and MongoDb.</p>
		</header>
		<body> 
			
			<section class="articles">
				<article class="article" *ngFor="let article of articles | filter:searchTerm | sort:sortTerm">
				<h2 class="blog-title">{{article.title}}</h2>
				<h6 class="blog-desc">{{article.description}}</h6>
				<p class="blog-details">{{article.body.slice(0, article.body.length / 3)}} ... <a [routerLink]="['/article', article.title]">read more</a></p>
				<p>{{article.reading_time}} min | {{article.read_count}} reads | {{article.timestamp | date:'short'}}</p>
				<span>By {{article.author}}</span>
				</article>

				<div id="par"></div>
		<div class="pagination">
			  <ul>
				<li class="btn prev" [hidden]="pageNumber === 1">
				  <span>prev</span>
				</li>
				<li class="num active"><span>1</span></li>
				<li class="num"><span>2</span></li>
				<li class="dots"><span>...</span></li>
				<li class="num"><span>4</span></li>
				<li class="btn next"  [hidden]="numberPerPage > 10">
				  <span>next</span>
				</li>
			  </ul>
			</div>

		</section>
		<section class="side-body">
				<input type="text" placeholder="search articles by title" [(ngModel)]="searchTerm">
				<select [(ngModel)]="sortTerm">
					<option value="">Sort by:</option>
					<option value="read_count">Read Count</option>
					<option value="reading_time">Read time</option>
					<option value="timestamp">Date</option>
				</select>
		</section>
			

		</body>
		
	</div>
	<div id="wrapper">
		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<section>
					<h2>Get in touch</h2>
					<form method="post" action="#">
						<div class="fields">
							<div class="field half">
								<input type="text" name="name" id="name" placeholder="Name" />
							</div>
							<div class="field half">
								<input type="email" name="email" id="email" placeholder="Email" />
							</div>
							<div class="field">
								<textarea name="message" id="message" placeholder="Message"></textarea>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" value="Send" class="primary" /></li>
						</ul>
					</form>
				</section>
				<section>
					<h2>Follow</h2>
					<ul class="icons">
						<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
						<li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
						<li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
					</ul>
				</section>
				<ul class="copyright">
					<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</footer>
</div>
