<div class="login-form">
    <form>
      <h1>Register</h1>
      <div class="content">
        <div class="input-field">
            <input type="fname" placeholder="First Name" autocomplete="nope">
          </div>
          <div class="input-field">
            <input type="lname" placeholder="Last Name" autocomplete="nope">
          </div>
        <div class="input-field">
          <input type="email" placeholder="Email" autocomplete="nope">
        </div>
        <div class="input-field">
          <input type="password" placeholder="Password" autocomplete="new-password">
        </div>
      </div>
      <div class="action">
        <button>Register</button>
      </div>
    </form>
  </div>

