<div class="login-form">
    <form [formGroup]="registerForm" (submit)="signup()">
      <h1>Register</h1>
      <div class="content">
        <div class="input-field">
            <input type="fname" placeholder="First Name" formControlName="firstName">
          </div>
          <div class="input-field">
            <input type="lname" placeholder="Last Name" formControlName="lastName">
          </div>
        <div class="input-field">
          <input type="email" placeholder="Email" formControlName="email">
        </div>
        <div class="password-field input-field">
          <input [type]="hide ? 'password' : 'text'" placeholder="PASSWORD" formControlName="password">
          <div class="passwordVisibility-icon-container">
            <button (click)="toggleVisibility()" class="visibility-btn">
                <img src="assets/visibility-hidden.svg" alt="visibility-hidden" *ngIf="hide" class="hidden-icon">
                <img src="assets/visible.svg" alt="visible" *ngIf="!hide" class="visible-icon">
            </button>
        </div>
        </div>
        <span [hidden]="error !== ''">Already have an account? </span>
        <span [hidden]="error == ''" style="color: red">User already exist </span>
        <a href="/login">Sign in</a>
      </div>
      

      <div class="action">
        <button>Register</button>
      </div>
    </form>
  </div>

