.article {
    border-bottom: 2px solid rgb(170, 162, 162);
}

.article> * {
    margin-bottom: 10px;
}

.action-button > button {
    margin: 0 5px;
}

.profile-articles {
    margin: 20px 100px;
    border-top: 2px solid rgb(170, 162, 162);
}

.profile-intro {
    margin-left: 20px;
}